<html>
<head>
<title>2ch RSS FEED</title>
</head>
<body>
スレッド一覧: {{root}}[サーバー]/[板名]/<br>
書き込み一覧: {{root}}[サーバー]/[板名]/[スレッド番号]/<br>
<a href="javascript:void((function(){ if (location.href.match(/http:\/\/([^\/]+)\/test\/read\.cgi\/(\w+)\/(\d+)\//)) { location.href = '{{root}}' + RegExp.$1 + '/' + RegExp.$2 + '/' + RegExp.$3 + '/'; } else if (location.href.match(/http:\/\/([^\/]+)\/(\w+)\//)) { location.href = '{{root}}' + RegExp.$1 + '/' + RegExp.$2 + '/'; } })())">2ch rss bookmarklet</a> (板・スレッドを開いて実行)<br>
</body>
</html>
